<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="ma">
  <link
    name="ma">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="5E-05" />
      <inertia
        ixx="2.0754E-07"
        ixy="0"
        ixz="0"
        iyy="4.1508E-07"
        iyz="-1.27077401336148E-23"
        izz="2.0754E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://ma/meshes/ma.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.5 0 0.5 1" />
        <texture
          filename="package://ma/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://ma/meshes/ma.STL" />
      </geometry>
    </collision>
  </link>
</robot>